/* root para definição de cores, cores de fundo e etc */
:root {
  /* Cores destaque */
  --vermelhoPokemon: #dc0a2d;
  /* Cores de fundo */
  --fundoCardPokemon: #ebebef;
  --fundoGlobal: #f8f9fa;
  /* Cores do texto */
  --textoPrincipal: #0a0a0a;
  --textoSecundario: #7f8c8d;
  --textoClaro: #ffffff;
  /* Cores dos tipos de pokemon */
  --fogo: #ee8130;
  --agua: #6390f0;
  --grama: #7ac74c;
  --eletrico: #f7d02c;
  --psiquico: #f95587;
  --gelo: #96d9d6;
  --dragao: #6f35fc;
  --sombrio: #705746;
  --fada: #d685ad;
  --normal: #a8a77a;
  --lutador: #c22e28;
  --voador: #a98ff3;
  --venenoso: #a33ea1;
  --terrestre: #e2bf65;
  --pedra: #b6a136;
  --inseto: #a6b91a;
  --fantasma: #735797;
  --aco: #b7b7ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--fundoGlobal);
}

.header-container {
  background-color: var(--vermelhoPokemon);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  position: sticky;
  top: 0;
  /* z-index: 1; */
}

.header-title {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--vermelhoPokemon);
  padding: 0.5rem;
}

.title-header {
  background-color: transparent;
  color: var(--textoClaro);
}

.header-input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: transparent;
}

.search-pokemon {
  border-radius: 1rem;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
  padding-left: 2.81rem;
  background-image: url(../assets/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem center;
}

input::placeholder {
  color: var(--textoPrincipal);
}

.main-container {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.filter-container {
  box-shadow: 1px 1px 5px 1px var(--aco);
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem 0.5rem;
}

.filter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0.5rem 0;
  gap: 1rem;
  border-radius: 1rem;
}

.title-filter {
  font-size: 1.3rem;
  color: var(--textoSecundario);
}
.grid-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.filter-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  width: 1rem;
  height: 1rem;
  color: var(--textoPrincipal);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 1rem cover;
}

.favorite-button {
  font-size: 1.3rem;
  color: var(--textoPrincipal);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--fundoCardPokemon);
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px var(--aco);
}

.pokemon-card-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid var(--aco);
  border-radius: 1rem;
}

.pokemon-card-content {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.pokemon-card {
  border: 1px solid var(--aco);
  width: 100%;
  height: auto;
  padding: 1rem;
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 1px var(--aco);
}

.previous-btn-container {
  padding: 0.5rem;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-identification-container {
  padding: 0.5rem;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn-container {
  padding: 0.5rem;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  .filter-title {
    width: auto;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .previous-btn-container {
    width: auto;
  }

  .page-identification-container {
    width: auto;
  }

  .next-btn-container {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-title {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-input {
    width: 45%;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .filter-button {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .previous-btn-container {
    width: auto;
  }

  .page-identification-container {
    width: auto;
  }

  .next-btn-container {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-title {
    width: 45%;
  }

  .header-input {
    width: 45%;
  }

  .previous-btn-container {
    width: auto;
  }

  .page-identification-container {
    width: auto;
  }

  .next-btn-container {
    width: auto;
  }
}
