
/* root para definição de cores, cores de fundo e etc */
:root {
  /* Cores destaque */
  --vermelhoPokemon: #dc0a2d;
  /* Cores de fundo */
  --fundoCardPokemon: #ebebef;
  --fundoGlobal: #f8f9fa;
  /* Cores do texto */
  --textoPrincipal: #0a0a0a;
  --textoSecundario: #7f8c8d;
  --textoClaro: #ffffff;
  /* Cores dos tipos de pokemon */
  --fogo: #ee8130;
  --agua: #6390f0;
  --grama: #7ac74c;
  --eletrico: #f7d02c;
  --psiquico: #f95587;
  --gelo: #96d9d6;
  --dragao: #6f35fc;
  --sombrio: #705746;
  --fada: #d685ad;
  --normal: #a8a77a;
  --lutador: #c22e28;
  --voador: #a98ff3;
  --venenoso: #a33ea1;
  --terrestre: #e2bf65;
  --pedra: #b6a136;
  --inseto: #a6b91a;
  --fantasma: #735797;
  --aco: #b7b7ce;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {
  .header-container{
    border: 1px solid black;
    background-color: var(--vermelhoPokemon);
    max-width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 5rem; */
  }

  .header-title{
    border: 1px solid black;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
  }

  .header-input{
    border: 1px solid black;
    width: 45%;
    height: 100%;
    padding: 0.5rem;
  }
}